/* easfoam sky aqua pale yellow */


.header-wrapper {
    display: block;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #404040;
    height: 70px;
    width: 100%;
    color: white;
    align-items: center;
    font-family: 'Lobster', cursive;
    border-bottom: 5px ridge aqua;
    border-top: 5px ridge aqua;
}

.logo {
    height: 55px;
    width: 200px;
    display: flex;
    background: white;
    border: 3px ridge aqua;
    border-radius: 5px;
    margin-left: 20px;
}

.nav-bar-items {
    display: flex;
    align-items: center;
}


nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

nav ul li {
 list-style-type: none;
 margin-right: 10px;
 text-decoration: none;
 padding: 5px;
 width: 100px;
 border-radius: 10px;
 color: black;
 background: white;
 justify-content: center;
 display: flex;
 border: 3px ridge aqua;
}

nav ul li:hover {
    background-color: aqua;
    border: 3px ridge white;
    transition: 1s;
}



.myCart {
    color: aqua;

}

.cart-header {
    font-size: 25px;
}



.ham-icon {
    display: none;
    margin-left: 20px;
    color: white;
    border: 1px solid white  ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.ham-icon:hover {
   color: aqua;
   border: 1px solid aqua;
   transition: 1s;
}

@media screen and (max-width: 1500px) {
    nav ul {
        display: none;
    }

    .ham-icon {
        display: block;
    }
    .logout-btn, .user-info {
        display: none;
    }
    
}
@media screen and (max-width: 420px) {
    .logo {
        width: 150px;
    }

    .cart-header {
       font-size: 25px;
        margin-left: 10px;
    }

    .myCart {
        font-size: 25px;
    }

    .ham-icon {
        font-size: 25px;
    }
}

@media screen and (max-width: 350px) {

    .cart-header{ 
       font-size: 20px
    }

    .logo {
        width: 125px;
    }
}


